# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Distribution / packaging
build/
dist/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
